Repository pekalam/auctionhouse: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-docker.yml, azure-pipelines-frontend-docker.yml

azure-pipelines-docker.yml:
  pool: myserver
  stages:
  - stage: Build
    displayName: Build & Test stage
    jobs:
    - job: build_local
      displayName: Build project with .net cli
      steps:
      - task: UseDotNet@2
        displayName: Use .NET Core sdk from global.json
        inputs:
          packageType: sdk
  ...

azure-pipelines-frontend-docker.yml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: Docker@2
    displayName: Build and push docker image
    inputs:
      containerRegistry: VPSDockerRegistry
      repository: pekalam/auctionhouse-front
      command: buildAndPush
      Dockerfile: front/Dockerfile
      tags: latest
  - task: SSH@0
  ...

feat: move pipeline to cicd folder
  cicd/azure-pipelines.yml
Due: none

fix: rename ENV to APP_ENV in webapi,localsettings
  backend/src/TestConfigurationAccessor/TestConfig.cs
  backend/src/Tests/FunctionalTests/entrypoint.sh
  backend/src/WebAPI/Auctionhouse.Command/Properties/launchSettings.json
  backend/src/WebAPI/Auctionhouse.Query/Properties/launchSettings.json
  backend/src/WebAPI/Common.WebAPI/Configuration/ConfigurationUtils.cs
  cicd/backend/deploy-azure-vm.yml
  cicd/backend/deploy-vps.yml
  compose/webAPI/docker-compose.override.yml
  compose/webAPI/docker-compose.prod.yml
Due: azure-pipelines-docker.yml

feat: move deployment part to template
  cicd/backend/azure-pipelines.yml
  cicd/backend/deploy-azure-vm.yml
  cicd/backend/deploy-vps.yml
  cicd/front/azure-pipelines.yml
  cicd/front/deploy-azure-vm.yml
  cicd/front/deploy-vps.yml
  compose/front/docker-compose.azure-vm.yml
  compose/infrastructure/docker-compose.azure-vm.yml
  compose/infrastructure/mongodb/docker-compose.azure-vm.yml
  compose/webAPI/docker-compose.azure-vm.yml
  compose/webAPI/docker-compose.prod.yml
  front/azure-pipelines.yml
  front/secrets/environment.prod.ts
Due: azure-pipelines-frontend-docker.yml

feat: add docker registry files for azure-vm env
  azure/azure-vm/docker-registry/docker-compose.yml
  azure/azure-vm/docker-registry/nginx.conf
  azure/azure-vm/docker-registry/registry.yml
  azure/azure-vm/docker-registry/setup_registry_secrets.bash
Due: none

feat: add draft azure-vm terraform scripts
  .gitignore
  azure/azure-vm/docker-registry/setup_registry_secrets.bash
  azure/azure-vm/tf/README.md
  azure/azure-vm/tf/create_sshkey1.bash
  azure/azure-vm/tf/main.tf
  azure/azure-vm/tf/scripts/create_ssh.bash
  azure/azure-vm/tf/variables.tf
  cicd/azure-devops/self-hosted-agent/Dockerfile
Due: none

feat: update node version
  cicd/front/azure-pipelines.yml
  front/package-lock.json
Due: azure-pipelines-frontend-docker.yml

feat: update node version to 18.13
  cicd/azure-devops/self-hosted-agent/Dockerfile
  cicd/front/azure-pipelines.yml
  front/package-lock.json
Due: azure-pipelines-frontend-docker.yml

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Add MSBuildBinPath
  backend/src/Database/Command/Scripts/build/Build.ps1
Due: azure-pipelines-docker.yml

Fix
  backend/src/Database/Command/Scripts/build/Build.ps1
Due: azure-pipelines-docker.yml

Add scripts
  backend/src/Database/Command/Scripts/build/Build-DockerImage.ps1
  backend/src/Database/Command/Scripts/build/Build.ps1
  backend/src/Database/Command/Scripts/build/BuildCsproj.ps1
  backend/src/Database/Command/Scripts/build/CopyArtifacts.ps1
Due: azure-pipelines-docker.yml

Upgrade sqlproj
  backend/src/Database/Command/AuctionhouseDatabase/AuctionhouseDatabase.sqlproj
Due: azure-pipelines-docker.yml

ci: add command-db build steps
  backend/src/Database/Command/AuctionhouseDatabase/AuctionhouseDatabase.sqlproj
  backend/src/Database/Command/Scripts/build/Build-DockerImage.ps1
  backend/src/Database/Command/Scripts/build/Build.ps1
  backend/src/Database/Command/Scripts/build/BuildCsproj.ps1
  backend/src/Database/Command/Scripts/build/CopyArtifacts.ps1
  cicd/backend/azure-pipelines.yml
Due: azure-pipelines-docker.yml

fix: sql_server docker image entrypoint
  backend/src/Database/Command/AuctionhouseDatabase.Docker/entrypoint.sh
Due: azure-pipelines-docker.yml

refactor: remove queued commands
  backend/src/Adapters/EventBus/Adatper.RabbitMq.EventBus/RabbitMqQueuedCommandBus.cs
  backend/src/Adapters/EventOutboxStorage/Adapter.SqlServer.EventOutboxStorage/DbOutboxItem.cs
  backend/src/Adapters/EventOutboxStorage/Adapter.SqlServer.EventOutboxStorage/Migrations/20230205094717_04_Rm_QueuedCommands.Designer.cs
  backend/src/Adapters/EventOutboxStorage/Adapter.SqlServer.EventOutboxStorage/Migrations/20230205094717_04_Rm_QueuedCommands.cs
  backend/src/Adapters/EventOutboxStorage/Adapter.SqlServer.EventOutboxStorage/addMigrationToExisting.ps1
  backend/src/Adapters/EventOutboxStorage/Test.Adapter.SqlServer.EventOutbox/CommandContextAssertions.cs
  backend/src/Adapters/EventOutboxStorage/Test.Adapter.SqlServer.EventOutbox/OutboxItemFinder_Tests.cs
  backend/src/Database/Command/AuctionhouseDatabase/dbo/Scripts/Generated/EventOutbox.sql
  backend/src/Modules/Common/Common.Application/Assembly.cs
  backend/src/Modules/Common/Common.Application/Commands/CommandContext.cs
  backend/src/Modules/Common/Common.Application/Common.Application.csproj
  backend/src/Modules/Common/Common.Application/Events/EventBusHelper.cs
  backend/src/Modules/Common/Common.Application/Mediator/HTTPQueuedCommandHandler.cs
  backend/src/Modules/Common/Common.Application/Mediator/HTTPQueuedCommandMediator.cs
  backend/src/Modules/Common/Common.Application/Mediator/WSQueuedCommandHandler.cs
  backend/src/Modules/Common/Common.Application/Mediator/WSQueuedCommandMediator.cs
  backend/src/Modules/Common/Tests/Test.Common.Application/CommandContext_Tests.cs
  backend/src/ReadModelNotifications.Tests/CommandCallbacks_Tests.cs
  backend/src/ReadModelNotifications/SagaNotifications/SagaEventsConfirmation.cs
Due: azure-pipelines-docker.yml

db: use dacpac deployment
  backend/src/Database/Command/AuctionhouseDatabase.Docker/Dockerfile
  backend/src/Database/Command/AuctionhouseDatabase.Docker/entrypoint.sh
  backend/src/Database/Command/AuctionhouseDatabase/AuctionhouseDatabase.sqlproj
  backend/src/Database/Command/AuctionhouseDatabase/dbo/Scripts/Generated/EventOutbox.sql
  backend/src/Database/Command/AuctionhouseDatabase/dbo/Scripts/Generated/SagaNotifications.sql
  backend/src/Database/Command/AuctionhouseDatabase/dbo/Scripts/Script.PostDeployment.sql
Due: azure-pipelines-docker.yml

db: set mongodb image to fixed version
  backend/src/Database/Query/MongoDb/cluster/config/Dockerfile
  backend/src/Database/Query/MongoDb/cluster/mongos/Dockerfile
  backend/src/Database/Query/MongoDb/cluster/templates/shardtemplate/Dockerfile.hbs
  compose/infrastructure/mongodb/config/Dockerfile
  compose/infrastructure/mongodb/mongos/Dockerfile
  compose/infrastructure/mongodb/shards/shard_db-node1/Dockerfile
  compose/infrastructure/mongodb/shards/shard_db-node2/Dockerfile
  compose/infrastructure/mongodb/shards/shard_db-node3/Dockerfile
Due: azure-pipelines-docker.yml

refactor: move ReadModelNotifications to extensions folder
  backend/src/Adapters/ReadModelNotifications/Adapter.EfCore.ReadModelNotifications/Adapter.EfCore.ReadModelNotifications.csproj
  backend/src/Adapters/ReadModelNotifications/Adapter.EfCore.ReadModelNotifications/testDbStart.ps1
  backend/src/Auctionhouse.sln
  backend/src/ReadModelNotifications.Tests/Extensions.ReadModelNotifications.Tests.csproj
  backend/src/ReadModelNotifications/Extensions.ReadModelNotifications.csproj
  backend/src/WebAPI/Tests/Test.Auctionhouse.Command.Integration/AutomapperTests.cs
  backend/src/WebAPI/Tests/Test.Auctionhouse.Command.Integration/Test.Auctionhouse.Command.csproj
  backend/src/WebAPI/Tests/Test.Auctionhouse.Query.Integration/Automapper_Integration_Tests.cs
  backend/src/WebAPI/Tests/Test.Auctionhouse.Query.Integration/Test.Auctionhouse.Query.csproj
Due: azure-pipelines-docker.yml

reafctor: rename Common.WebApi to WebApi.Common
  backend/src/Auctionhouse.sln
  backend/src/WebAPI/Auctionhouse.Command/Auctionhouse.Command.csproj
  backend/src/WebAPI/Auctionhouse.Command/Controllers/AuthenticationCommandController.cs
  backend/src/WebAPI/Auctionhouse.Command/Program.cs
  backend/src/WebAPI/Auctionhouse.Query/Auctionhouse.Query.csproj
  backend/src/WebAPI/Auctionhouse.Query/Program.cs
  backend/src/WebAPI/Common.WebAPI/Auth/HttpContextExtensions.cs
  backend/src/WebAPI/Common.WebAPI/Auth/IdTokenManager.cs
  backend/src/WebAPI/Common.WebAPI/Auth/IdTokenManagerMiddleware.cs
  backend/src/WebAPI/Common.WebAPI/Auth/IdTokenSlidingExpirationMiddleware.cs
  backend/src/WebAPI/Common.WebAPI/Auth/JwtService.cs
  backend/src/WebAPI/Common.WebAPI/Auth/JwtSettings.cs
  backend/src/WebAPI/Common.WebAPI/Auth/UserIdentityService.cs
  backend/src/WebAPI/Common.WebAPI/Configuration/ConfigurationUtils.cs
  backend/src/WebAPI/Common.WebAPI/Tracing/TracingInstaller.cs
  backend/src/WebAPI/Common.WebAPI/WebAPI.Common.csproj
  backend/src/WebAPI/Common.WebAPI/WebApiCommonInstaller.cs
Due: azure-pipelines-docker.yml

refactor: Remove unneeded EventOutboxSavedItems interface
  backend/src/Adapters/Schedulers/Test.Adapter.QuartzServiceAuctionEndScheduler/QuartzAuctionEndSchedulerTests.cs
  backend/src/Modules/Auctions/Tests/Test.Auctions.Application/BuyNowSaga_Tests.cs
  backend/src/Modules/Common/Common.Application/Commands/CommandHandlerBase.cs
  backend/src/Modules/Common/Common.Application/CommonApplicationInstaller.cs
  backend/src/Modules/Common/Common.Application/Events/EventOutbox/EventOutbox.cs
  backend/src/Modules/Common/Common.Application/Events/EventOutbox/IEventOutbox.cs
  backend/src/Modules/Common/Common.Application/Events/EventOutbox/IEventOutboxSavedItems.cs
  backend/src/Modules/Common/Tests/Test.Common.Base/Mocks/EventOutboxMock.cs
  backend/src/ReadModelNotifications.Tests/CommandNotificationsEventOutboxWrapper_Tests.cs
  backend/src/ReadModelNotifications/EventOutbox/CommandNotificationsEventOutboxWrapper.cs
  backend/src/Tests/FunctionalTests/TestBase/TestBase.ModulesInstallation.cs
Due: azure-pipelines-docker.yml

refactor: rename EventOutboxSender
  backend/src/Modules/Common/Common.Application/Commands/CommandHandlerBase.cs
  backend/src/Modules/Common/Common.Application/CommonApplicationInstaller.cs
  backend/src/Modules/Common/Common.Application/Events/EventOutbox/EventOutboxItemsSender.cs
  backend/src/Modules/Common/Common.Application/Events/EventOutbox/EventOutboxProcessor.cs
  backend/src/Modules/Common/Common.Application/Events/EventOutbox/EventOutboxProcessorService.cs
  backend/src/Modules/Common/Tests/Test.Common.Application/EventOutboxProcessor_Tests.cs
Due: azure-pipelines-docker.yml

refactor: move ImmediateCommandQueryMediator into CommandQueryMediator
  backend/src/Adapters/Schedulers/Adapter.QuartzTimeTaskService.AuctionEndScheduler/AuctionEndSchedulerEndpoint.cs
  backend/src/Database/Command/AuctionhouseDatabase/dbo/Scripts/Generated/EventOutbox.sql
  backend/src/Database/Command/AuctionhouseDatabase/dbo/Scripts/Generated/SagaNotifications.sql
  backend/src/Database/Command/AuctionhouseDatabase/dbo/Scripts/Script.PostDeployment.sql
  backend/src/Modules/AuctionBids/AuctionBids.Application/EventSubscriptions/AuctionCreatedSubscriber.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/BuyNow/BuyNowSaga.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/CreateAuction/CreateAuctionSaga.cs
  backend/src/Modules/Common/Common.Application/CommonApplicationInstaller.cs
  backend/src/Modules/Common/Common.Application/Mediator/CommandQueryMediator.cs
  backend/src/Modules/Common/Common.Application/Mediator/ImmediateCommandQueryMediator.cs
  backend/src/Modules/UserPayments/UserPayments.Application/EventSubscriptions/BuyNowTXSuccessSubscriber.cs
  backend/src/Modules/UserPayments/UserPayments.Application/EventSubscriptions/BuyNowTxStartedSubscriber.cs
  backend/src/Modules/UserPayments/UserPayments.Application/EventSubscriptions/UserCreatedSubscriber.cs
  backend/src/Modules/UserPayments/UserPayments.Application/EventSubscriptions/UserCreditsFailedToLockForBuyNowAuctionSubscriber.cs
  backend/src/Modules/UserPayments/UserPayments.Application/EventSubscriptions/UserCreditsLockedForBuyNowAuctionSubscriber.cs
  backend/src/Modules/Users/Users.Application/Commands/SignUp/SignUpSaga.cs
  backend/src/Modules/Users/Users.Application/EventSubscriptions/BuyNowPaymentCreatedEventSubscriber.cs
  backend/src/Modules/Users/Users.Application/EventSubscriptions/BuyNowTXSuccessEventSubscriber.cs
  backend/src/Tests/FunctionalTests/TestBase/TestBase.Query.cs
  backend/src/Tests/FunctionalTests/TestBase/TestBase.cs
  backend/src/WebAPI/Auctionhouse.Command/Controllers/AuctionCommandController.cs
  backend/src/WebAPI/Auctionhouse.Command/Controllers/AuthenticationCommandController.cs
  backend/src/WebAPI/Auctionhouse.Command/Controllers/UserCommandController.cs
  backend/src/WebAPI/Auctionhouse.Query/Controllers/AuctionQueryController.cs
  backend/src/WebAPI/Auctionhouse.Query/Controllers/UserQueryController.cs
  backend/src/WebAPI/Auctionhouse.Query/Controllers/UserQueryController_Username.cs
Due: azure-pipelines-docker.yml

Update managed disk types
  azure/azure-vm/tf/main.tf
Due: none

refactor: rename SavedOutboxStoreItems
  backend/src/Modules/Auctions/Auctions.Application/Assembly.cs
  backend/src/Modules/Auctions/Auctions.Application/Auctions.Application.csproj
  backend/src/Modules/Common/Common.Application/Commands/CommandHandlerBase.cs
  backend/src/Modules/Common/Common.Application/Events/EventOutbox/EventOutbox.cs
  backend/src/Modules/Common/Common.Application/Events/EventOutbox/IEventOutbox.cs
  backend/src/Modules/Common/Tests/Test.Common.Base/Mocks/EventOutboxMock.cs
  backend/src/ReadModelNotifications.Tests/CommandNotificationsEventOutboxWrapper_Tests.cs
  backend/src/ReadModelNotifications/EventOutbox/CommandNotificationsEventOutboxWrapper.cs
Due: azure-pipelines-docker.yml

refactor: minor refactoring, renames
  backend/src/Modules/AuctionBids/AuctionBids.Application/Commands/RaiseBid/RaiseBidCommand.cs
  backend/src/Modules/AuctionBids/AuctionBids.Application/Commands/RaiseBid/RaiseBidCommandHandler.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/BuyNow/CancelBuy/CancelBuyCommand.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/BuyNow/ConfirmBuy/ConfirmBuyCommand.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/CreateAuction/CreateAuctionCommandHandler.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/CreateAuction/CreateAuctionSaga.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/EndAuction/EndAuctionCommand.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/EndAuction/EndAuctionCommandHandler.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/UserAddAuctionImage/UserAddAuctionImageCommand.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/UserRemoveAuctionImage/UserRemoveAuctionImageCommand.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/UserReplaceAuctionImage/UserReplaceAuctionImageCommand.cs
  backend/src/Modules/Common/Common.Application/Commands/Callbacks/ICommandHandlerCallbacks.cs
  backend/src/Modules/Common/Common.Application/Commands/CommandHandlerBase.cs
  backend/src/Modules/Common/Common.Application/Commands/InvalidCommandDataException.cs
  backend/src/Modules/Common/Common.Application/Commands/InvalidCommandException.cs
  backend/src/Modules/Common/Common.Application/Common.Application.csproj
  backend/src/Modules/Common/Common.Application/CommonApplicationInstaller.cs
  backend/src/Modules/Common/Common.Application/Events/Callbacks/IEventConsumerCallbacks.cs
  backend/src/Modules/Common/Common.Application/Events/CorrelationId.cs
  backend/src/Modules/Common/Common.Application/Events/EventConsumer.cs
  backend/src/Modules/Common/Tests/Test.Common.Application/CommandHandlerBase_Tests.cs
  backend/src/Modules/Common/Tests/Test.Common.Base/AdapterContracts/EventBusRedeliveryAdapterContract.cs
  backend/src/Modules/ReadModel/Tests/Test.ReadModel.Integration/AuctionLockingEventConsumer_Tests.cs
  backend/src/Modules/ReadModel/Tests/Test.ReadModel.Integration/AuctionPriceRisedEventConsumer_IdempotencyTest.cs
  backend/src/Modules/ReadModel/Tests/Test.ReadModel.Integration/AuctionUpdatedEventConsumer_Tests.cs
  backend/src/Modules/Users/Users.Application/Commands/CheckResetCode/CheckResetCodeCommandHandler.cs
  backend/src/Modules/Users/Users.Application/Commands/RequestResetPassword/RequestResetPasswordCommandHandler.cs
  backend/src/Modules/Users/Users.Application/Commands/ResetPassword/ResetPasswordCommandHandler.cs
  backend/src/Modules/Users/Users.Application/Commands/SignUp/AssignUserPayments/AssignUserPaymentsCommandHandler.cs
  backend/src/Modules/Users/Users.Application/Commands/SignUp/SignUpSaga.cs
  backend/src/ReadModelNotifications.Tests/CommandCallbacks_Tests.cs
  backend/src/ReadModelNotifications.Tests/EventConsumerCallbacks_Tests.cs
  backend/src/ReadModelNotifications/CommandCallbacks/ReadModelNotificationsCommandCallbacks.cs
  backend/src/ReadModelNotifications/EventConsumerCallbacks/ReadModelNotificationsEventConsumerCallbacks.cs
  backend/src/ReadModelNotifications/ReadModelNotificationsInstaller.cs
  backend/src/WebAPI/Auctionhouse.Command/ExceptionHandlingMiddleware.cs
Due: azure-pipelines-docker.yml

refactor: move dependency injection extension to common.application.dependencyinjection
  backend/src/Adapters/EventBus/Adatper.RabbitMq.EventBus/RabbitMqInstaller.cs
  backend/src/Adapters/EventBus/Test.RabbitMq.EventBus/RabbitMqEventBus_EventConsumer_Tests.cs
  backend/src/Adapters/EventBus/Test.RabbitMq.EventBus/RabbitMqEventBus_EventSubscriber_Tests.cs
  backend/src/Adapters/EventOutboxStorage/Adapter.SqlServer.EventOutboxStorage/EventOutboxStorageInstaller.cs
  backend/src/Adapters/Schedulers/Test.Adapter.QuartzServiceAuctionEndScheduler/QuartzAuctionEndSchedulerTests.cs
  backend/src/Modules/AuctionBids/AuctionBids.Application/AuctionBidsApplicationInstaller.cs
  backend/src/Modules/Auctions/Auctions.Application/AuctionsApplicationInstaller.cs
  backend/src/Modules/Common/Common.Application/DependencyInjection/CommonApplicationInstaller.cs
  backend/src/Modules/Common/Common.Application/DependencyInjection/ServiceCollectionExtensions.cs
  backend/src/Modules/Common/Tests/Test.Common.Base/CommonApplicationMockInstaller.cs
  backend/src/Modules/ReadModel/ReadModel.Core/ReadModelInstaller.cs
  backend/src/Modules/UserPayments/UserPayments.Application/UserPaymentsApplicationInstaller.cs
  backend/src/Modules/Users/Users.Application/UserApplicationInstaller.cs
  backend/src/Tests/FunctionalTests/TestBase/TestBase.ModulesInstallation.cs
  backend/src/WebAPI/Auctionhouse.Command/ModuleInstallation/InstallationExtensions.cs
  backend/src/WebAPI/Auctionhouse.Query/Program.cs
Due: azure-pipelines-docker.yml

db: remove snapshot isolation settings, minor fixes
  backend/src/Database/Command/AuctionhouseDatabase/dbo/Scripts/Script.PostDeployment.sql
  backend/src/Database/Command/AuctionhouseDatabase/dbo/StoredProcedures/insert_event.sql
  backend/src/Database/Command/AuctionhouseDatabase/dbo/Tables/Aggregate.sql
  backend/src/Database/Command/Scripts/build/Append-ScriptsToDatabaseProj.ps1
Due: azure-pipelines-docker.yml

Minor refactor of auction tests
  backend/src/Modules/Auctions/Tests/Test.Auctions.Domain/Auction/Auction_BuyTests.cs
  backend/src/Modules/Auctions/Tests/Test.Auctions.Domain/Auction/Auction_BuyTxTests.cs
Due: azure-pipelines-docker.yml

fix: AuctionUnlockScheduler adapter installer
  backend/src/Adapters/Schedulers/Adapter.Hangfire.Auctionhouse/HangfireAdapterInstaller.cs
Due: azure-pipelines-docker.yml

Path conditions:
  azure-pipelines-docker.yml: any of: backend
  azure-pipelines-frontend-docker.yml: any of: front
