Repository pekalam/auctionhouse: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-docker.yml, azure-pipelines-frontend-docker.yml

Path conditions:
  azure-pipelines-docker.yml: any of: backend
  azure-pipelines-frontend-docker.yml: any of: front

refactor: Remove CreateAuctionService, improve create auction tests
  backend/src/Modules/Auctions/Auctions.Application/Commands/CreateAuction/CreateAuctionCommandHandler.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/CreateAuction/EndCreateAuctionCommand.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/CreateAuction/EndCreateAuctionCommandHandler.cs
  backend/src/Modules/Auctions/Auctions.Application/Sagas/CreateAuctionSaga.cs
  backend/src/Modules/Auctions/Auctions.Domain/Auction.cs
  backend/src/Modules/Auctions/Auctions.Domain/AuctionCreateSession.cs
  backend/src/Modules/Auctions/Auctions.Domain/AuctionImages.cs
  backend/src/Modules/Auctions/Auctions.Domain/AuctionsDomainInstaller.cs
  backend/src/Modules/Auctions/Auctions.Domain/Services/AuctionImageService.cs
  backend/src/Modules/Auctions/Auctions.Domain/Services/CreateAuctionService.cs
  backend/src/Modules/Auctions/Tests/Test.Auctions.Domain/AuctionCreateSession/AuctionCreateSession_Tests.cs
  backend/src/Tests/FunctionalTests/Tests/Auctions/AddAuctionImage/AuctionCreateSessionCommands_Tests.cs
  backend/src/Tests/FunctionalTests/Tests/Auctions/CreateAuction/CreateAuctionCommand_Tests.cs
  backend/src/Tests/FunctionalTests/Tests/Auctions/CreateAuction/CreateBuyNowAuctionProbe.cs
  backend/src/WebAPI/Auctionhouse.Command/Adapters/AuctionCreateSessionStore.cs
Due: azure-pipelines-docker.yml

refactor: Move sagas to separate folder
  backend/src/Modules/Auctions/Auctions.Application/Auctions.Application.csproj
  backend/src/Modules/Auctions/Auctions.Application/Commands/BuyNow/BuyNowCommandHandler.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/CreateAuction/CreateAuctionCommandHandler.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/CreateAuction/CreateAuctionSaga.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/CreateAuction/EndCreateAuctionCommand.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/CreateAuction/EndCreateAuctionCommandHandler.cs
  backend/src/Modules/Auctions/Auctions.Application/EventSubscriptions/AuctionBidsCreatedSubscriber.cs
  backend/src/Modules/Auctions/Auctions.Application/EventSubscriptions/BuyNowPaymentConfirmedSubscriber.cs
  backend/src/Modules/Auctions/Auctions.Application/EventSubscriptions/BuyNowPaymentFailedSubscriber.cs
  backend/src/Modules/Auctions/Auctions.Application/EventSubscriptions/PaymentCreationErrorSubscriber.cs
  backend/src/Modules/Auctions/Auctions.Application/Sagas/BuyNowSaga.cs
  backend/src/Modules/Auctions/Auctions.Application/Sagas/CreateAuctionSaga.cs
  backend/src/Modules/Auctions/Tests/Test.Auctions.Application/BuyNowSaga_Tests.cs
  backend/src/Modules/Users/Users.Application/Commands/AssignUserPayments/AssignUserPaymentsCommand.cs
  backend/src/Modules/Users/Users.Application/Commands/AssignUserPayments/AssignUserPaymentsCommandHandler.cs
  backend/src/Modules/Users/Users.Application/Commands/SignUp/SignUpCommandHandler.cs
  backend/src/Modules/Users/Users.Application/EventSubscriptions/UserPaymentsCreatedEventSubscriber.cs
  backend/src/Modules/Users/Users.Application/Sagas/SignUpSaga.cs
  backend/src/Tests/FunctionalTests/TestBase/TestBase.ModulesInstallation.cs
  backend/src/WebAPI/Auctionhouse.Command/ChronicleSerialization.cs
Due: azure-pipelines-docker.yml

refactor: Simplicy AuctionArgs validation
  backend/src/Modules/Auctions/Auctions.Domain/Auction.cs
  backend/src/Modules/Auctions/Auctions.Domain/AuctionArgs.cs
  backend/src/Modules/Auctions/Tests/Test.Auctions.Base/Domain/ModelBuilders/GivenAuctionArgs.cs
  backend/src/Modules/Auctions/Tests/Test.Auctions.Domain/Auction/Auction_Construction_Tests.cs
Due: azure-pipelines-docker.yml

refactor: Move Cancel / Confirm commands to separate folders
  backend/src/Modules/Auctions/Auctions.Application/Commands/CancelBuy/CancelBuyCommand.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/CancelBuy/CancelBuyCommandHandler.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/ConfirmBuy/ConfirmBuyCommand.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/ConfirmBuy/ConfirmBuyCommandHandler.cs
  backend/src/Modules/Auctions/Auctions.Application/Sagas/BuyNowSaga.cs
Due: azure-pipelines-docker.yml

tests: temp comment out unneeded tests and fix
  backend/src/Adapters/Schedulers/Test.Adapter.Hangfire.Auctionhouse/AuctionBuyCancellationScheduler_Tests.cs
  backend/src/Tests/ArchTests/Modules_Test.cs
  backend/src/WebAPI/Auctionhouse.Command/CommandMapperProfile.cs
  backend/src/WebAPI/Tests/Test.Auctionhouse.Command.Integration/AutomapperTests.cs
Due: azure-pipelines-docker.yml

refactor: Minor refactor
  backend/src/Adapters/ReadModelNotifications/Adapter.EfCore.ReadModelNotifications/EfCoreSagaNotifications.cs
  backend/src/Adapters/ReadModelNotifications/Test.Adapter.EfCore.ReadModelNotifications/UnitTest1.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/BuyNow/BuyNowCommandHandler.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/CreateAuction/EndCreateAuctionCommandHandler.cs
  backend/src/WebAPI/Auctionhouse.Query/Adapters/BidRaisedNotifications.cs
  backend/src/WebAPI/Auctionhouse.Query/Adapters/BidRaisedNotificationsInstaller.cs
Due: azure-pipelines-docker.yml

test: add missing traits to integration tests
  backend/src/Adapters/EventBus/Test.RabbitMq.EventBus/RabbitMqEventBus_Subscriber_Redelivery_Test.cs
  backend/src/Adapters/EventBus/Test.RabbitMq.EventBus/RocksDbErrorEventOutboxStorage_Tests.cs
  backend/src/Adapters/ReadModelNotifications/Test.Adapter.EfCore.ReadModelNotifications/UnitTest1.cs
  backend/src/Adapters/Repositories/Test.Dapper.AuctionhouseDatabase/AuctionBidsRepository_Tests.cs
  backend/src/Modules/ReadModel/Tests/Test.ReadModel.Integration/AuctionPriceRisedEventConsumer_IdempotencyTest.cs
  backend/src/Modules/ReadModel/Tests/Test.ReadModel.Integration/AuctionUpdatedEventConsumer_Tests.cs
Due: azure-pipelines-docker.yml

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

refactor: remove unneeded slnf
  backend/src/Auctionhouse.Adapters.slnf
  backend/src/Auctionhouse.CommandDb.slnf
  backend/src/Auctionhouse.Modules.slnf
  backend/src/Auctionhouse.ReadModelDb.slnf
  backend/src/Auctionhouse.WebAPI.slnf
Due: azure-pipelines-docker.yml

refactor: rename EndCreateAuction to AssignAuctionBids
  backend/src/Modules/Auctions/Auctions.Application/Commands/AssignAuctionBids/AssignAuctionBidsCommand.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/AssignAuctionBids/AssignAuctionBidsCommandHandler.cs
  backend/src/Modules/Auctions/Auctions.Application/Sagas/CreateAuctionSaga.cs
  backend/src/Modules/Auctions/Auctions.Domain/Auction.cs
  backend/src/Modules/Auctions/Tests/Test.Auctions.Base/Domain/ModelBuilders/GivenAuction.cs
  backend/src/Modules/Auctions/Tests/Test.Auctions.Domain/Auction/Auction_Construction_Tests.cs
  backend/src/Tests/FunctionalTests/settings.json
  backend/src/WebAPI/Auctionhouse.Command/appsettings.json
  backend/src/WebAPI/Auctionhouse.Query/appsettings.json
Due: azure-pipelines-docker.yml

refactor!: remove InAuctionCreateSession attributes
  backend/src/Modules/Auctions/Auctions.Application/AuctionsApplicationInstaller.cs
  backend/src/Modules/Auctions/Auctions.Application/CommandAttributes/InAuctionCreateSessionAttribute.cs
  backend/src/Modules/Auctions/Auctions.Application/CommandAttributes/InAuctionCreateSessionRemoveAttribute.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/AddAuctionImage/AddAuctionImageCommand.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/AddAuctionImage/AddAuctionImageCommandHandler.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/CreateAuction/CreateAuctionCommand.cs
  backend/src/Modules/Auctions/Auctions.Application/Commands/CreateAuction/CreateAuctionCommandHandler.cs
  backend/src/Modules/Auctions/Tests/Test.Auctions.Application/InAuctionCreateSessionAttribute_Tests.cs
Due: azure-pipelines-docker.yml

fix: read model tests
  backend/src/Modules/ReadModel/Tests/Test.ReadModel.Integration/AuctionPriceRisedEventConsumer_IdempotencyTest.cs
Due: azure-pipelines-docker.yml

fix: redis command error
  backend/src/WebAPI/Common.WebAPI/WebAPI.Common.csproj
  compose/infrastructure/docker-compose.yml
Due: azure-pipelines-docker.yml

tests: refactor assembly arguments
  backend/src/Tests/FunctionalTests/TestBase/TestBase.ModulesInstallation.cs
  backend/src/Tests/FunctionalTests/TestBase/TestBase.cs
  backend/src/Tests/FunctionalTests/Tests/AuctionBids/RaiseBid/RaiseBidCommand_Tests.cs
  backend/src/Tests/FunctionalTests/Tests/Auctions/AddAuctionImage/AuctionCreateSessionCommands_Tests.cs
  backend/src/Tests/FunctionalTests/Tests/Auctions/BuyNow/BuyNowCommandTestBase.cs
  backend/src/Tests/FunctionalTests/Tests/Auctions/CreateAuction/CreateAuctionCommand_Tests.cs
  backend/src/Tests/FunctionalTests/Tests/Auctions/UpdateAuction/UpdateAuctionCommand_Tests.cs
  backend/src/Tests/FunctionalTests/Tests/Users/SignUpCommand_Tests.cs
Due: azure-pipelines-docker.yml

Update azure-pipelines.yml for Azure Pipelines
  cicd/backend/azure-pipelines.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Prepare db scripts
  backend/src/Database/Command/AuctionhouseDatabase/AuctionhouseDatabase.sqlproj
  backend/src/Database/Command/AuctionhouseDatabase/dbo/Scripts/Generated/EventOutbox.sql
  backend/src/Database/Command/AuctionhouseDatabase/dbo/Scripts/Generated/SagaNotifications.sql
  backend/src/Database/Command/AuctionhouseDatabase/dbo/Scripts/Script.PostDeployment.sql
  backend/src/Database/Command/Scripts/build/Add-EventOutboxAdapterScripts.ps1
  backend/src/Database/Command/Scripts/build/Add-SagaNotificationsScripts.ps1
  backend/src/Database/Command/Scripts/build/Build2.ps1
Due: azure-pipelines-docker.yml

Add draft db pipeline
  cicd/backend/azure-pipelines-az.yml
Due: none

Update azure-pipelines-az.yml for Azure Pipelines
  cicd/backend/azure-pipelines-az.yml
Due: none

Add AppConfig pipeline
  backend/src/WebAPI/Auctionhouse.Command/appsettings.Azure.json
  backend/src/WebAPI/Auctionhouse.CommandStatus/appsettings.Azure.json
  backend/src/WebAPI/Auctionhouse.Query/appsettings.Azure.json
  cicd/backend/azure-pipelines-az-appcfg.yml
Due: azure-pipelines-docker.yml

Update azure-pipelines-az-appcfg.yml for Azure Pipelines
  cicd/backend/azure-pipelines-az-appcfg.yml
Due: none

Fixes
  backend/src/Adapters/Schedulers/Adapter.Hangfire.Auctionhouse/Adapter.Hangfire_.Auctionhouse.csproj
  backend/src/Adapters/Schedulers/Adapter.Hangfire.Auctionhouse/HangfireAuctionBuyCancellationSchedulerInstaller.cs
  backend/src/WebAPI/Auctionhouse.Command/Dockerfile
  backend/src/WebAPI/Auctionhouse.Command/appsettings.Azure.json
  backend/src/WebAPI/Auctionhouse.Query/Dockerfile
Due: azure-pipelines-docker.yml

Add key vault refs
  backend/src/WebAPI/Auctionhouse.Query/keyvault-refs.json
Due: azure-pipelines-docker.yml

Container apps deployment, fixes
  azure/azure-native/deploy.bicep
  azure/azure-native/deploy_data.bicep
  azure/azure-native/deploy_infra.bicep
  azure/azure-native/main.bicep
  azure/azure-native/otel-collector-config.yml
  backend/src/Edge/Envoy/Dockerfile.azure
  backend/src/Edge/Envoy/envoy-azure.yaml
  backend/src/WebAPI/Auctionhouse.Command/Program.cs
  backend/src/WebAPI/Auctionhouse.Command/appsettings.Azure.json
  backend/src/WebAPI/Auctionhouse.Command/appsettings.json
  backend/src/WebAPI/Auctionhouse.CommandStatus/appsettings.Azure.json
  backend/src/WebAPI/Auctionhouse.Query/Program.cs
  backend/src/WebAPI/Auctionhouse.Query/appsettings.Azure.json
  backend/src/WebAPI/Common.WebAPI/Configuration/ConfigurationUtils.cs
  front/secrets/environment.prod.ts
  front/src/app/core/interceptors/auth.interceptor.ts
  front/src/app/core/services/HTTPCommandStatusService.spec.ts
  front/src/app/core/services/HTTPCommandStatusService.ts
  front/src/app/home/components/ending-auctions/ending-auctions.component.ts
  front/src/app/home/pages/home-page/home-page.component.ts
Due: azure-pipelines-docker.yml, azure-pipelines-frontend-docker.yml
